@import '../../styles/color.css';
@import '../../styles/reset.css';

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 100%;
  height: 112px;
  font-family: pretendard;

  cursor: pointer;
}

.topHeader {
  width: 100%;
  height: 62px;

  position: relative;
  z-index: 10;
  background-color: var(--food-color);
}

.headerBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 609px;
  height: 62px;
  object-fit: cover;
  opacity: 30%;
}

.headerTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;

  color: var(--food-color);
}

.headerSub {
  font-weight: 500;
  font-size: 11px;
  line-height: 13.13px;
}

/* title */
.title {
  display: flex;
  flex-direction: column;

  height: 127px;
  padding: 0 24px;
}

.title > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 57px;
  margin: 30px 0;

  font-family: pretendard;
}

.pageTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;

  width: 260px;
}

.pageTextWrapper > .name {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;
}

.pageTextWrapper > .description {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.87px;

  color: var(--gray-light);
  margin-top: 8px;
}

.revolvePage {
  width: 149px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--gray-hard);

  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
}

.revolveIcon {
  width: 50px;
  height: 50px;
}

.arrow {
  margin: 0 30px;
  cursor: pointer;
}

.title > .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--food-color);
}
