@import '../../styles/color.css';
@import '../../styles/reset.css';

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 100%;
  height: 112px;
  font-family: pretendard;

  cursor: pointer;
}

.topHeader {
  width: 100%;
  height: 62px;

  position: relative;
  z-index: 10;
  background-color: var(--food-color);
}

.headerBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 609px;
  height: 62px;
  object-fit: cover;
  opacity: 30%;
}

.headerTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;

  color: var(--food-color);
}

.headerSub {
  font-weight: 500;
  font-size: 11px;
  line-height: 13.13px;
}

/* title */
.title {
  display: flex;
  flex-direction: column;

  height: 127px;
  padding: 0 24px;
}

.title > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 57px;
  margin: 30px 0;

  font-family: pretendard;
}

.pageTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;

  width: 260px;
}

.pageTextWrapper > .name {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;
}

.pageTextWrapper > .description {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.87px;

  color: var(--gray-light);
  margin-top: 8px;
}

.revolvePage {
  width: 149px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--gray-hard);

  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
}

.revolveIcon {
  width: 50px;
  height: 50px;
}

.arrow {
  margin: 0 30px;
  cursor: pointer;
}

.title > .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--food-color);
}

/* main */
main {
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
}

.dropDown {
  margin: 5px 0 0 0;
}

/* graph */
.graph {
  display: flex;
  flex-direction: column;

  width: 325px;
}

/* textBox */
.textBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  margin-bottom: 30px;
}

.rectangle {
  width: 4px;
  /* height: 19px; */
  height: 100%;
  background-color: var(--food-color);
}

.text {
  font-family: pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: var(--gray-light);
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  color: var(--gray-light);
  font-size: 10px;
  padding: 8px;
}

td {
  padding: 8px;
}

.tableDescription {
  color: var(--gray-light);
  margin: 50px auto;
}

.tableDescription2 {
  color: var(--gray-light);
  margin: 10px 0;
}

/* pagecontent */
.pageItemWrapper {
  display: flex;
  flex-direction: row;
}

.pagecontent {
  display: flex;
  flex-direction: column;

  position: relative;
}

.pageItem {
  font-family: pretendard;
  font-weight: 400;
  font-size: 11px;
  color: var(--gray-light);

  position: absolute;
}

.pageName {
  position: absolute;
  top: 10.5px;
  left: 8.5px;
  color: white;
}

.pageNum {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0%);

  color: white;
  background-color: var(--food-color);
  padding: 1px 4.5px;
  border-radius: 5px;
  font-size: large;
}

/* 지역 위치 */
.seoul {
  top: 68px;
  left: 75px;
}
.incheon {
  top: 64px;
  left: 34px;
}
.gyeonggi {
  top: 108px;
  left: 95px;
}
.gangwon {
  top: 70px;
  left: 180px;
}
.gyeongbuk {
  top: 190px;
  left: 230px;
}
.gyeongnam {
  top: 300px;
  left: 160px;
}
.jeonbuk {
  top: 260px;
  left: 60px;
}
.jeonnam {
  top: 340px;
  left: 70px;
}
.gwangju {
  top: 300px;
  left: 40px;
}
.chungbuk {
  top: 140px;
  left: 120px;
}
.chungnam {
  top: 180px;
  left: 40px;
}
.sejong {
  top: 160px;
  left: 80px;
}
.daejeon {
  top: 180px;
  left: 100px;
}
.daegu {
  top: 230px;
  left: 200px;
}
.busan {
  top: 295px;
  left: 230px;
}
.ulsan {
  top: 260px;
  left: 250px;
}
.jeju {
  top: 430px;
  left: 60px;
}

.chart {
  display: flex;
  flex-direction: column;

  margin-top: 63px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 23px;

  width: 250px;
  height: 523px;
  padding: 20px 31.5px;
  box-shadow: 1px 2px 6px 0px #00000040;
}

.cardheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardtitle {
  font-family: pretendard;
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;
  color: var(--food-color);
}

.cardsub {
  font-family: pretendard;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.13px;
  color: var(--gray-hard);
}

.cardboldline {
  width: 100%;
  height: 2.5px;
  background-color: var(--food-color);
}

.cardunderline {
  margin-top: 5px;
}

.carddescription {
  font-family: pretendard;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.13px;
  color: var(--gray-light);

  text-align: center;
}

.bold {
  font-family: pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  color: black;
}

#tablechart1 {
  border-bottom: 1px solid var(--food-color);
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 51px;
}
