{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static 'energy/detail/food.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <div class="topHeader">
      <img
        src="{% static 'common/background.png' %}"
        alt="background"
        class="headerBackground"
      />
    </div>
    <div class="header" onclick="window.location.href = '{% url 'landing' %}' ">
      <p class="headerTitle main">HERCULES</p>
      <p class="headerSub">
        Highly Energy Retrofittable management for<br />
        factory-Customized and Ultimately Load-Efficient Solutions
      </p>
    </div>
    <!-- title -->
    <div class="title">
      <div class="wrapper">
        <div class="revolvePage">
          <img
            class="revolveIcon"
            src="{% static 'common/icons/melting/melting_small_revolve.png' %}"
            alt="melting"
          />용해 업종
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_left_default.png' %}"
          alt="left"
          class="arrow"
          onclick="window.location.href = '{% url 'melting_energy' %}' "
        />
        <div class="currentPage">
          <img
            src="{% static 'common/icons/food/food_default.png' %}"
            alt="food"
          />
          <div class="pageTextWrapper">
            <p class="name">식품 업종</p>
            <p class="description">에너지 현황</p>
          </div>
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_right_default.png' %}"
          alt="right"
          class="arrow"
          onclick="window.location.href = '{% url 'paper_energy' %}' "
        />
        <div class="revolvePage">
          <img
            src="{% static 'common/icons/paper/paper_small_revolve.png' %}"
            alt="paper"
            class="revolveIcon"
          />제지 업종
        </div>
      </div>
      <div class="line"></div>
    </div>
    <!-- 추가 -->
    <!-- main -->
   

    <main>
      <div class="graph">
        <div class="textBox">
          <div class="rectangle"></div>
          <div class="text">구간별 에너지 소비</div>
        </div>
        <canvas id="foodChart" style="width: 611px; height: 402.34px"></canvas>
        <table id="table">
          <thead>
            <tr>
              <th></th>
              <th>연료 소비량</th>
              <th>전력량</th>
              <th>기업 수</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="tableDescription">
          출처: 2021년도 에너지사용량 통계, 2022.8 한국에너지공단
        </div>
        <div class="textBox">
          <div class="rectangle"></div>
          <div class="text">설비별-에너지원별<br />에너지 소비 구성</div>
        </div>
        <canvas id="foodChart2" style="width: 545px; height: 402.34px"></canvas>
      </div>
      <div class="pageWrapper">
        <div class="textBox">
          <div class="rectangle"></div>
          <div class="text">
            식품 업종 시도별 에너지 다소비 사업장<br />
            (2,000toe이상) 에너지소비량 (2021)
          </div> <select id="pageDropdown" class="dropDown">
      <option value="seoul">서울</option>
      <option value="incheon">인천</option>
      <option value="gyeonggi">경기</option>
      <option value="gangwon">강원</option>
      <option value="gyeongbuk">경북</option>
      <option value="gyeongnam">경남</option>
      <option value="jeonbuk">전북</option>
      <option value="jeonnam">전남</option>
      <option value="gwangju">광주</option>
      <option value="chungbuk">충북</option>
      <option value="chungnam">충남</option>
      <option value="sejong">세종</option>
      <option value="daejeon">대전</option>
      <option value="daegu">대구</option>
      <option value="busan">부산</option>
      <option value="ulsan">울산</option>
      <option value="jeju">제주</option>
    </select>
        </div>
        <div id="pageContent">
          <!-- 선택된 페이지에 따라 내용이 이곳에 표시 -->
        </div>
      </div>
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
  <script src="{% static 'energy/detail/food.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>
