@import '../../styles/color.css';
@import '../../styles/reset.css';

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 100%;
  height: 112px;
  font-family: pretendard;

  cursor: pointer;
}

.topHeader {
  width: 100%;
  height: 62px;

  position: relative;
  z-index: 10;
  background-color: var(--industry-color);
}

.headerBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 609px;
  height: 62px;
  object-fit: cover;
  opacity: 30%;
}

.headerTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;

  color: var(--industry-color);
}

.headerSub {
  font-weight: 500;
  font-size: 11px;
  line-height: 13.13px;
}

/* title */
.title {
  display: flex;
  flex-direction: column;

  height: 127px;
  padding: 0 24px;
}

.title > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 57px;
  margin: 30px 0;

  font-family: pretendard;
}

.currentPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
}

.currentPage > .name {
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;
  text-align: center;
}

.currentPage > .description {
  color: var(--gray-light);
  margin-top: 8px;
}

.revolvePage {
  width: 200px;
  text-align: center;

  color: var(--gray-hard);

  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
}

.arrow {
  margin: 0 30px;
  cursor: pointer;
}

.title > .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--main-color);
}

/* main */
main {
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding: 30px 24px 50px;
}

.graph {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* textBox */
.textBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  margin-bottom: 30px;
}

.rectangle {
  width: 4px;
  /* height: 19px; */
  height: 100%;
  background-color: var(--industry-color);
}

.text {
  font-family: pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: var(--gray-light);
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 51px;
}
