{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FEMS/industrial/revenue</title>
    <link
      href="{% static 'industrial/detail/revenue.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header -->
    <div class="topHeader">
      <img
        src="{% static 'common/background.png' %}"
        alt="background"
        class="headerBackground"
      />
    </div>
    <div class="header" onclick="window.location.href='{% url 'landing' %}' ">
      <p class="headerTitle main">HERCULES</p>
      <p class="headerSub">
        Highly Energy Retrofittable management for<br />
        factory-Customized and Ultimately Load-Efficient Solutions
      </p>
    </div>
    <!-- title -->
    <div class="title">
      <div class="wrapper">
        <div class="revolvePage">
          업종별<br />
          경영 투자 현황
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_left_default.png' %}"
          alt="left"
          class="arrow"
          onclick="window.location.href='{% url 'trends' %}' "
        />
        <div class="currentPage">
          <p class="name">
            업종별<br />
            매출 · 생산액
          </p>
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_right_default.png' %}"
          alt="right"
          class="arrow"
          onclick="window.location.href='{% url 'profitability' %}' "
        />
        <div class="revolvePage">
          업종별<br />
          매출 영업이익률 · 당기순이익
        </div>
      </div>
      <div class="line"></div>
    </div>
    <!-- main -->
    <main>
      <div class="graph">
        <div class="textBox">
          <div class="rectangle"></div>
          <div class="text">업종별 매출액</div>
        </div>
        <div class="chart-container">
          <canvas id="chart1"></canvas>
        </div>
      </div>
      <div class="graph">
        <div class="textBox">
          <div class="rectangle"></div>
          <div class="text">업종별 생산액</div>
        </div>
        <div class="chart-container">
          <canvas id="chart2"></canvas>
        </div>
      </div>
    </main>
    <footer>© 2024. (주)테라플랫폼, All rights reserved</footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
  <script src="{% static 'industrial/detail/revenue.js' %}"></script>
</html>
