{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static 'optimized/detail/food.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <div class="topHeader">
      <img
        src="{% static 'common/background.png' %}"
        alt="background"
        class="headerBackground"
      />
    </div>
    <div class="header" onclick="window.location.href='{% url 'landing' %}' ">
      <p class="headerTitle main">HERCULES</p>
      <p class="headerSub">
        Highly Energy Retrofittable management for<br />
        factory-Customized and Ultimately Load-Efficient Solutions
      </p>
    </div>
    <!-- title -->
    <div class="title">
      <div class="wrapper">
        <div class="revolvePage">
          <img
            class="revolveIcon"
            src="{% static 'common/icons/melting/melting_small_revolve.png' %}"
            alt="melting"
          />용해 업종
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_left_default.png' %}"
          alt="left"
          class="arrow"
	  onclick="window.location.href = '{% url 'melting_optimized' %}' "
        />
        <div class="currentPage">
          <img src="{% static 'common/icons/food/food_default.png' %}" alt="food" />
          <div class="pageTextWrapper">
            <p class="name">식품 업종</p>
            <p class="description">공정·에너지 최적화 기술</p>
          </div>
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_right_default.png' %}"
          alt="right"
          class="arrow"
	  onclick="window.location.href = '{% url 'paper_optimized' %}' "
        />
        <div class="revolvePage">
          <img
            src="{% static 'common/icons/paper/paper_small_revolve.png' %}"
            alt="paper"
            class="revolveIcon"
          />제지 업종
        </div>
      </div>
      <div class="line"></div>
    </div>
    <!-- main -->
    <main>
      <div class="mainTitle">식품공정 과잉공급 에너지 절감</div>
      <div class="mainSubTitle">
        에너지 소비구조분석 및 에너지 수요예측 기반 요구에너지에 맞춰 공급
        제어를 통한 과잉 공급 에너지 절감
      </div>
      <div class="frame">
        <div class="frame1">
          <div class="textBox">
            <div class="rectangle"></div>
            <div class="text">프로세스별 사용 기술</div>
          </div>
          <div class="chartWrapper">
            <div class="flowWrapper">
              <div class="flow">
                <img src="{% static 'optimized/images/food/food_flow.png' %}" />살균
              </div>
              <div class="flow">
                <img src="{% static 'optimized/images/food/food_flow.png' %}" />준비
              </div>
              <div class="flow">
                <img src="{% static 'optimized/images/food/food_flow.png' %}" />가공
              </div>
              <div class="flow">
                <img src="{% static 'optimized/images/food/food_flow.png' %}" />제품
              </div>
            </div>
            <div class="flowDetailWrapper">
              <div class="flowItemWrapper">
                <div class="flowItem">
                  <img src="{% static 'optimized/images/icons/icon_predict.png' %}" alt="predict" />
                  예측기술
                </div>
                <div class="flowItem">
                  <img src="{% static 'optimized/images/icons/icon_control.png' %}" alt="control" />
                  제어기술
                </div>
                <div class="flowItem">
                  <img
                    src="{% static 'optimized/images/icons/icon_inspection.png' %}"
                    alt="inspection"
                  />
                  설비진단
                </div>
              </div>
              <div class="testWrapper">
                <div class="flowItemWrapper">
                  <div class="flowItem">
                    <img src="{% static 'optimized/images/icons/icon_predict.png' %}" alt="predict" />
                    예측기술
                  </div>
                  <div class="flowItem">
                    <img src="{% static 'optimized/images/icons/icon_control.png' %}" alt="control" />
                    제어기술
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame1">
          <div class="textBox">
            <div class="rectangle"></div>
            <div class="text">공정• 에너지 최적화 적용 기술</div>
          </div>
          <div class="frameHeader">
            <div class="frameText">적용 기술</div>
            <div class="frameText">기술 분류 (상세)</div>
          </div>
          <div class="frameContentWrapper">
            <div class="frameContent foodLine">
              식품가공공장<br />에너지 절감 기술
            </div>
            <div class="frameContent">
              <div class="frameDetail">에너지소비 구조분석/최적화</div>
              <div class="frameDetail">살균공정 에너지공급 최적화</div>
              <div class="frameDetail">가열공정 비정상 누출 예지보전</div>
              <div class="frameDetail">공정 배출에너지 회수 예측</div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame2Wrapper">
        <div class="frame2">
          <div class="textBox">
            <div class="rectangle"></div>
            <div class="text">기술 소개</div>
          </div>
          <img src="{% static 'optimized/images/food/box.png' %}" alt="box" class="box" />
          <div class="boxTitle">
            공정별 부하 변동성에 대응하지 못하여 과잉공급 발생
          </div>
          <div class="boxInfo">1 공장 가열공정 스팀 소비량</div>
          <img
            class="boxImg"
            src="{% static 'optimized/images/food/food_graph1.png' %}"
            alt="graph1"
          />
          <div class="boxInfo">1 공장 굽기공정 스팀 소비량</div>
          <img
            class="boxImg"
            src="{% static 'optimized/images/food/food_graph2.png' %}"
            alt="graph2"
          />
          <div class="boxInfo">1 공장 가열공정 스팀 소비량</div>
          <img
            class="boxImg"
            src="{% static 'optimized/images/food/food_graph3.png' %}"
            alt="graph3"
          />
        </div>
        <div class="frame2">
          <div class="frame2Box">
            <div class="boxTitle">2차 살균 공정 대상</div>
            <img
              class="boxImg"
              src="{% static 'optimized/images/food/food_graph4.png' %}"
              alt="graph4"
            />
            <img
              class="boxArrow"
              src="{% static 'optimized/images/food/icon_arrowD.png' %}"
              alt="arrow"
            />
            <img
              class="boxImg"
              src="{% static 'optimized/images/food/food_graph5.png' %}"
              alt="graph5"
            />
          </div>
        </div>
      </div>
    </main>
    <footer>© 2024. (주)테라플랫폼, All rights reserved</footer>
  </body>
</html>
