{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static 'optimized/detail/melting.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <div class="topHeader">
      <img
        src="{% static 'common/background.png' %}"
        alt="background"
        class="headerBackground"
      />
    </div>
    <div class="header" onclick="window.location.href='{% url 'landing' %}' ">
      <p class="headerTitle main">HERCULES</p>
      <p class="headerSub">
        Highly Energy Retrofittable management for<br />
        factory-Customized and Ultimately Load-Efficient Solutions
      </p>
    </div>
    <!-- title -->
    <div class="title">
      <div class="wrapper">
        <div class="revolvePage">
          <img
            class="revolveIcon"
            src="{% static 'common/icons/biomed/biomed_small_revolve.png' %}"
            alt="biomed"
          />바이오의약<br />
          업종
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_left_default.png' %}"
          alt="left"
          class="arrow"
	  onclick="window.location.href = '{% url 'biomed_optimized' %}' "
        />
        <div class="currentPage">
          <img
            src="{% static 'common/icons/melting/melting_default.png' %}"
            alt="melting"
          />
          <div class="pageTextWrapper">
            <p class="name">용해 업종</p>
            <p class="description">공정·에너지 최적화 기술</p>
          </div>
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_right_default.png' %}"
          alt="right"
          class="arrow"
	  onclick="window.location.href = '{% url 'food_optimized' %}' "
        />
        <div class="revolvePage">
          <img
            src="{% static 'common/icons/food/food_small_revolve.png' %}"
            alt="food"
            class="revolveIcon"
          />식품 업종
        </div>
      </div>
      <div class="line"></div>
    </div>
    <!-- main -->
    <main>
      <div class="mainTitle">
        운전절차를 Sequence 기반 센서 데이터 활용으로 운전자동화 통한 생산능력
        향상, 에너지 원 단위 개선
      </div>
      <div class="frame">
        <div class="frame1">
          <div class="textBox">
            <div class="rectangle"></div>
            <div class="text">프로세스별 사용 기술</div>
          </div>
          <div class="chartWrapper">
            <div class="flowWrapper">
              <div class="flow">
                <img src="{% static 'optimized/images/melting/melting_flow.png' %}" />장입
              </div>
              <div class="flow">
                <img src="{% static 'optimized/images/melting/melting_flow.png' %}" />승온
              </div>
              <div class="flow">
                <img src="{% static 'optimized/images/melting/melting_flow.png' %}" />용락
              </div>
              <div class="flow">
                <img src="{% static 'optimized/images/melting/melting_flow.png' %}" />출탕
              </div>
            </div>
            <div class="flowDetailWrapper">
              <div class="testWrapper">
                <div class="flowItemWrapper">
                  <div class="flowItem">
                    <img src="{% static 'optimized/images/icons/icon_predict.png' %}" alt="predict" />
                    예측기술
                  </div>
                </div>
              </div>
              <div class="flowItemWrapper">
                <div class="flowItem">
                  <img src="{% static 'optimized/images/icons/icon_predict.png' %}" alt="predict" />
                  예측기술
                </div>
                <div class="flowItem">
                  <img src="{% static 'optimized/images/icons/icon_control.png' %}" alt="control" />
                  제어기술
                </div>
                <div class="flowItem">
                  <img
                    src="{% static 'optimized/images/icons/icon_inspection.png' %}"
                    alt="inspection"
                  />
                  설비진단
                </div>
              </div>
              <div class="textWrapper"></div>
              <div class="testWrapper">
                <div class="flowItemWrapper">
                  <div class="flowItem">
                    <img src="{% static 'optimized/images/icons/icon_predict.png' %}" alt="predict" />
                    예측기술
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame1">
          <div class="textBox">
            <div class="rectangle"></div>
            <div class="text">공정• 에너지 최적화 적용 기술</div>
          </div>
          <div class="frameHeader">
            <div class="frameText">적용 기술</div>
            <div class="frameText">기술 분류 (상세)</div>
          </div>
          <div class="frameContentWrapper">
            <div class="frameContent foodLine">
              용해공정<br />에너지절감 기술
            </div>
            <div class="frameContent">
              <div class="frameDetail">설비 건전성 기술</div>
              <div class="frameDetail">노온 예측 기술</div>
              <div class="frameDetail">잔탕 예측 기술</div>
              <div class="frameDetail">에너지 모델 기술</div>
              <div class="frameDetail">공정 스케줄링 기술</div>
            </div>
          </div>
        </div>
      </div>
      <div class="textBox">
        <div class="rectangle"></div>
        <div class="text">기술 소개</div>
      </div>
      <img
        class="frameImg"
        src="{% static 'optimized/images/melting/melting_graph1.png' %}"
        alt="graph1"
      />
    </main>
    <footer>© 2024. (주)테라플랫폼, All rights reserved</footer>
  </body>
</html>
