{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FEMS/industrial</title>
    <link href="{% static 'industrial/index.css' %}" rel="stylesheet" />
    <script src="{% static 'industrial/index.js' %}"></script>
  </head>
  <body>
    <!-- header -->
    <div class="header" onclick="window.location.href='{% url 'landing' %}' ">
      <img
        src="{% static 'common/background.png' %}"
        alt="background"
        class="headerBackground"
      />
      <p class="headerTitle main">HERCULES</p>
      <p class="headerSub">
        Highly Energy Retrofittable management for<br />
        factory-Customized and Ultimately Load-Efficient Solutions
      </p>
    </div>
    <!-- title -->
    <div class="title">
      <div class="wrapper">
        <div class="revolvePage">업종별 에너지 현황</div>
        <img
          src="{% static 'common/icons/arrow/arrow_left_default.png' %}"
          alt="left"
          class="arrow"
	  onclick="window.location.href = '{% url 'energy_overview' %}' "
        />
        <div class="currentPage">
          <p class="name">업종별 산업 동향</p>
          <p class="description">Industrial Insights by Sector</p>
        </div>
        <img
          src="{% static 'common/icons/arrow/arrow_right_default.png' %}"
          alt="right"
          class="arrow"
	  onclick="window.location.href = '{% url 'optimized_overview' %}' "
        />
        <div class="revolvePage">업종별 최적화 기술</div>
      </div>
      <div class="line"></div>
    </div>
  </body>
</html>
